<!DOCTYPE html>
<html>
  <head>
    <title>协议</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  </head>
  <body>
    <h2>游戏协议:</h2>
    <table border="1">
      <tr><td>名称:</td><td>结构:</td><td>描述:</td></tr>
      <% for(var k in data.CODE){ %>
            <tr>
            <td> <%= k %> </td>
            
            <td> <% for(var i in data.STRUCTURE[data.CODE[k]]) { %>
                     <%= i + ":" + data.STRUCTURE[data.CODE[k]][i] + ', ' %>
                 <% } %> 
            </td>
            <td> <%= data.DESCRIBE[data.CODE[k]] %> </td>
            </tr>
        <% } %>
    </table> 
  </body>

  <script>
      
  </script>

</html>
